.container {
  margin-top: 20px;
}
.container-fluid {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 65px;
  margin-top: 10px;
  font-weight: bolder;
  flex-direction: row;
}
.info {
  margin-top: 20px;
  flex-direction: column;
}
.infoHeader{
 
  font-weight: bolder;
}
.Contacts {
  width: 100%;
    padding-left: 10px;
    padding-bottom: 65px;
    margin-top: 10px;
    flex-direction: column;

}

footer .container {
  margin-top: 0;
  font-weight: bolder;
  justify-items: flex-end;
}
footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height: 60px;
  border-top: 2px solid #f5f5f5;
  background-size: cover;
  text-align: center;
  background-color: #333;
  color: #fff;
}

#nav {
  margin-bottom: 0!important;

}
#header {
display: grid;
padding-top: 30px;
padding-left: 120px;
font-weight: bold;
width: 100%;
}
